@{
    Layout = "/Areas/Admin/Views/shared/_AdminPageLayout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div>@*<div class="row mb-2">*@
            <div class="col-sm-6">
                <h1 class="pdirectionArabic m-0">Admin Page</h1>
            </div>

            <div class="col-sm-6" >
                <img src="~/Zimage/AdminDashBoard.png" />
            </div>
            
        </div>
    </div>
</div>

