@model IEnumerable<DALSevenCodeOnlineStore.Products>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link href="~/dist/css/CustomerCss/CheckoutCss.css" rel="stylesheet" />
@*<div style="margin-top: 60px;">
    <h3>CHECKOUT</h3>  
</div>*@
<div class="container">
    <div class="row" style="margin-top: 60px;">
        <div class="col-lg-6 col-sm-12 mt-3">
        <form class="formstyle">
            <h1>Billing Details</h1><br/>
            <div class="row" >
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    First Name :
                    <input type="text" class="form-control mt-2" />
                </div>
              </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        Last Name :
                        <input type="text" class="form-control mt-2" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        Phone :
                        <input type="text" class="form-control mt-2" />
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        Email :
                        <input type="email" class="form-control mt-2" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="form-group">
                        Country :
                        @*<label class="form-control mt-2" for="Country">Country :</label>*@
                        <select class="form-control mt-2" name="Country" id="Country">
                            <option value="saudi">Saudi</option>
                            <option value="egypt">Egypt</option>
                            <option value="emirat">Emirat</option>
                        </select>
                        @*<input type="text" class="form-control mt-2" />*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="form-group">
                        Address :
                        <input type="text" class="form-control mt-2" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="form-group">
                        Twon / City :
                        <input type="text" class="form-control mt-2"   />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="form-group">
                        State / Country :
                        <input type="text" class="form-control mt-2"   />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="form-group">
                        Postal Code :
                        <input type="text" class="form-control mt-2"  />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <a class="createaccountstyle" href="#">Create An Account?</a>
                </div>
            </div>
            </form>
        </div>
        @*========== second form ===========*@
        @if (Model == null || Model.Count() == 0)
        {
            <div class="col-lg-6 col-sm-12 mt-3">
                <form class="formstylesecond">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h3>Product</h3>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h3>Total</h3>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <p>trimdressX1</p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <p>145</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h5>Subtotal</h5>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <p class="colorred">145</p>
                </div>
            </div>
           
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h5>Shipping</h5>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">Free Shipping</label>
                    </div>

                    <!-- Checked checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"/>
                        <label class="form-check-label" for="flexCheckChecked">Local Pickup</label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h5>Total</h5>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <p class="colorred">145</p>
                </div>
            </div>
            <hr />
            <br/>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                                <label class="form-check-label" for="flexRadioDefault1"> Cash </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                        <label class="form-check-label" for="flexRadioDefault2"> PayPal </label>
                    </div>
                </div>
            </div>
            <br/>
            <button class="paypal btn btn-warning"><span class="paystyle">Pay</span><span class="palstyle">Pal</span></button><br />
            <button class="debit btn btn-dark"><i class="fa fa-wallet"></i>&nbsp;Debit Or Credit Card</button>
        </form>
            </div>
        }
        else
        {
            <div class="col-lg-6 col-sm-12 mt-3">
                <form class="formstylesecond">
                    <table class="text-center table table-hover">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model ){
                                <tr>
                                    <td>@item.Name</td>
                                    <td class="colorred">@item.Price</td>
                                </tr>
                            }
                           
                        </tbody>
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <h1>Total</h1>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <h1 style="text-align: end;"><strong>@Model.Sum(i=>i.Price)</strong></h1>
                        </div>
                    </div>
                    
                    <hr />
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                                <label class="form-check-label" for="flexRadioDefault1"> Cash </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                                <label class="form-check-label" for="flexRadioDefault2"> PayPal </label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button class="paypal btn btn-warning"><span class="paystyle">Pay</span><span class="palstyle">Pal</span></button><br />
                    <button class="debit btn btn-dark"><i class="fa fa-wallet"></i>&nbsp;Debit Or Credit Card</button>
                </form>
            </div>
        }
    </div>

</div>
